<!DOCTYPE html>
<html>
    <head>
        <title>Page d'accueil de la ToDo list</title>
    </head>
    <body>
        <h2>On va essayer de faire une ToDo list dans cet exercice en suivant ce <a href="http://localhost:8080/todolist">lien</a></h2>
        <div name="login">
            <form method="POST" action="/login">
                <input type="text" name="username">
                <input type="submit" value="valider">
            </form>
        </div>
    </body>
</html>