<!DOCTYPE html>
<html>
    <head>
        <title>ToDo list</title>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
    </head>
    <body>
        <center>
            <h1>Projet ToDo list!</h1>
        </center>

        <h2>Notre fameuse ToDo list:</h2>

        <ul>
            <!-- <a>Un élément pour l'exemple</a> -->
            <% for(var i = 0, c = taches.length; i < c; i++) { %>
               <li> <%= taches[i] %> </li>
            <%}%>
        </ul>
        <br>
        <div name="ajoutElement">
            <form method="POST" action="/todolist/ajouter">
                <input type="text" name="task">
                <input type="submit" value="Valider">
            </form>
        </div>
    </body>
</html>