<!DOCTYPE html>
<html>
    <head>
        <title>ToDo list</title>
        <link rel="stylesheet" type="text/css" href="/style/style.css">
    </head>
    <body>
        <center>
            <h1>On va peut-être bientôt la faire cette ToDo list!</h1>
        </center>

        <h2>Notre fameuse ToDo list:</h2>

        <li>
            <a>Un élément pour l'exemple</a>
        </li>
        <br>
        <div name="ajoutElement">
            <input type="text" name="task">
            <input type="submit" value="Valider">
        </div>
    </body>
</html>