h1 {
    background-color: blue;
    color: White;
}

ul {    /* Affiche la liste au centre de la page */
    display:table;
    margin:0 auto;
}

#ajoutElement {
    text-align: center;
}

img.deleteIcon {
    vertical-align: text-bottom;
    width: 20px;
    height: 20px;
}

/* Cache l'id de la liste à laquelle on ajoute l'élément*/
#id {
    display: none;
}
